##### Import packages

In [9]:
import json
import pandas as pd
import numpy as np

In [ ]:
#### Reading raw data and converting to a Dataframe

In [10]:
with open('retention.json', 'r') as file:
    file_data = json.loads(file.read())
    data_list = []
for data in file_data.values():
    data_list.append(data)
df = pd.DataFrame(data_list)
df.head()

,gender,age,gross_income,segment,num_credit_cards,tiprel_1mes,ind_actividad_cliente,num_Products,num_loans,duration
0,M,21 years,$ 79070.91,Individuals,0,I,0,1,0,1035
1,M,23 years,$ 178270.68,College_Graduated,0,I,0,1,0,1097
2,M,24 years,$ 31243.56,College_Graduated,0,I,1,1,0,1866
3,M,24 years,$ 130740.54,College_Graduated,0,I,0,1,0,1440
4,M,31 years,$ 112975.17,Individuals,0,I,0,0,0,376

#### Total relevant fields

In [11]:
total_columns = [i for i in df.columns]
print(total_columns)
len(total_columns)

['gender', 'age', 'gross_income', 'segment', 'num_credit_cards', 'tiprel_1mes', 'ind_actividad_cliente', 'num_Products', 'num_loans', 'duration']

10

#### Convert to csv

In [13]:
df.to_csv('retention.csv', index=False)

In [12]:
df.dtypes

gender                   object
age                      object
gross_income             object
segment                  object
num_credit_cards          int64
tiprel_1mes              object
ind_actividad_cliente     int64
num_Products              int64
num_loans                 int64
duration                  int64
dtype: object

In [13]:
perc =[.25,.75, .90, .95]
df.describe(percentiles = perc)

,num_credit_cards,ind_actividad_cliente,num_Products,num_loans,duration
count,54030.000000,54030.000000,54030.000000,54030.000000,54030.000000
mean,0.049880,0.469073,1.536017,0.009365,2913.936665
std,0.217698,0.499047,1.578848,0.096320,2027.956268
min,0.000000,0.000000,0.000000,0.000000,366.000000
25%,0.000000,0.000000,1.000000,0.000000,1118.000000
50%,0.000000,0.000000,1.000000,0.000000,2039.500000
75%,0.000000,1.000000,2.000000,0.000000,4693.000000
90%,0.000000,1.000000,3.000000,0.000000,5844.000000
95%,0.000000,1.000000,5.000000,0.000000,6529.000000
max,1.000000,1.000000,13.000000,1.000000,7909.000000

In [ ]:
#number of zeros and number of unique values, number of missing values,
# percentage of missing values) must be computed

In [16]:
df.nunique()

gender                       2
age                        110
gross_income             49994
segment                      3
num_credit_cards             2
tiprel_1mes                  2
ind_actividad_cliente        2
num_Products                14
num_loans                    2
duration                  5677
dtype: int64

In [18]:
df.isna().sum()

gender                   0
age                      0
gross_income             0
segment                  0
num_credit_cards         0
tiprel_1mes              0
ind_actividad_cliente    0
num_Products             0
num_loans                0
duration                 0
dtype: int64